ELEVENLABS_API_KEY=
ELEVENLABS_TTS_VOICE_ID=
ELEVENLABS_TTS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_TTS_OUTPUT_FORMAT=mp3_44100_128
ELEVENLABS_TTS_OPTIMIZE_STREAMING_LATENCY=2
ELEVENLABS_STT_MODEL_ID=scribe_v1
ELEVENLABS_STT_LANGUAGE_CODE=
ELEVENLABS_STT_ENABLE_LOGGING=true
